


@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

:root {
    --primary-color: #eb5e28; /* Define a custom color variable */
    --secondary-color: #252422;
    --background-color: #fffcf2;
    --grey--color: #403d39;
    --light-grey--color: #ccc5b9;
    --light-orange-color:rgb(236, 138, 99);
    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --shadow2: 0 4px 8px 0 rgba(246, 131, 69, 0.2), 0 6px 20px 0 rgba(248, 186, 148, 0.19);

}
@font-face {
    font-family: 'Poppins';
    src: url(../font/poppins/Poppins-Regular.otf) format('otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
} 

body {
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#wrapper{
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

nav{
    display: flex;
    flex-direction: column;
}

nav .top_bar{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: .5em 3em;
}

nav .top_bar ul{
    display: flex;
    flex-direction: row;

}

nav .second_bar{
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f9efcef5 ;
}

nav img{
    box-shadow: none;
}


/*Link bar*/

.top_bar ul{
    list-style-type: none
}

.top_bar ul li a{
    font-size: 1em;
    letter-spacing: 5px;
    padding: 12px 12px;
    border-radius: 5px;
    margin: 0em .5em;
    color: var(--background-color);
    text-decoration: none;
    background-color: var(--primary-color);
    box-shadow: var(--shadow2);

}

.top_bar ul li a:hover{
    background-color: var(--secondary-color);
    text-decoration: none;

}


.second_bar{
    padding-right: 3rem;
    list-style-type: none
}

.second_bar a{
    font-size: 1em;
    letter-spacing: 2px;
    padding-right: 1.7em;
    color: var(--secondary-color);
    text-decoration: none;
}

.second_bar a:hover{
    color: var(--primary-color);
    text-decoration: none;
}


.search_top, .hamber_bar {
    display: none;
}

/*confirmation*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 8em 0em;
}

main img{

    width: 400px;
    height: 400px;
}

span{
    font-weight: bold;
}



@media screen and (max-width: 990px){

    /* nav */
    nav div:nth-child(2){
       display: none;
   }
    
   nav .top_bar{
       padding: .5em 1em;
   }

   .logo img{
       width: 80px;
   }

   nav div ul li:first-child{
       display: none;
   }

   .top_bar ul li a{
       font-size: .9em;
       letter-spacing: 1px;
       padding: 10px 10px;
       border-radius: 5px;
       margin: 0em .4em;
   }
    .hamber_bar{
        display: inline;

    }

   /*main*/
    main img{
        width: 150px;
        height: 150px;
    }

    main{
        padding: 10em 2em;
        font-size: .9em;
    }
    




}
